.header__image {
  max-width: 383px;
  max-height: 383px;
  width: 27.81vw;
  height: 27.81vw;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .header__image {
    width: 100%;
    min-height: 267px;
  }
}

