.timetable {
  display: flex;
  width: 100%;
  min-height: 670px;
  background-color: #F2F2F2;
}

@media screen and (max-width: 1279px) {
  .timetable{
    min-height: 400px;
  }
}

@media screen and (max-width: 1023px) {
  .timetable{
    min-height: 210px;
  }
}

@media screen and (max-width: 767px) {
  .timetable {
    flex-direction: column;
  }
}
