.place__title {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

@media screen and (max-width: 1279px) {
  .place__title {
    font-size: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    font-size: 22px;
  }
}
