.header__intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 91px;
  padding-right: 96px;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .header__intro {
    padding-right: 20px;
    margin-top: 53px;
  }
}

@media screen and (max-width: 767px) {
  .header__intro {
    margin-top: 35px;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}
