.video__link {
    width: 100%;
    max-height: 670px;
    box-sizing: border-box;
    text-decoration: none;
    display: flex;
    transition: opacity 0.3s ease-in;
}

.video__link::after {
    content: '';
    position: absolute;
    background-color: black;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 7;
    transition: opacity 0.3s ease-in;
}


.video__link:hover::after {
    opacity: 0.2;
}
