.place__text-cell_small-bottom {
    padding-bottom: 70px;
}

@media screen and (max-width: 1279px){
  .place__text-cell_small-bottom {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 1023px) {
  .place__text-cell_small-bottom {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .place__text-cell_small-bottom {
    padding-bottom: 20px;
    min-height: 350px;
  }
}
