.header__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  transition: opacity 0.3s ease-in;
}

.header__link:hover {
  opacity: 50%;
}

@media screen and (max-width: 767px) {
  .header__link {
    font-size: 8px;
    font-weight: normal;
  }
}
