.video__title {
  margin: 0;
  color: #fff;
  position: absolute;
  top: 20%;
  left: 5.5%;
  font-weight: bold;
  font-size: 41px;
  z-index: 1;
}

@media screen and (max-width: 1279px) {
  .video__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 1023px) {
  .video__title {
    font-size: 25px;
  }
}

@media screen and (max-width: 767px) {
  .video__title {
    font-size: 20px;
  }
}

@media screen and (max-width: 424px) {
  .video__title {
    font-size: 15px;
  }
}
