.timetable__where {
  position: relative;
  border: none;
  width: 100%;
  min-height: 35px;
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: regular;
  font-size: 18px;
  letter-spacing: 3%;
}

.timetable__where::placeholder {
  position: absolute;
  top: 10px;
  left: 15px;
}
