.header__caption {
  text-transform: uppercase;
  margin: 0 0 25px 0;
  color: #FEDEC3;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 2px;
}

@media screen and (max-width: 1279px) {
  .header__caption {
    font-size: 9px;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 1023px) {
  .header__caption {
    font-size: 7px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  .header__caption {
    font-size: 4px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
}
