@import url(../vendor/normalize.css);

@import url(../blocks/page/page.css);

@import url(../blocks/wrapper/wrapper.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__links/header__links.css);
@import url(../blocks/header/__links-item/header__links-item.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__complaint/header__complaint.css);

@import url(../blocks/content/content.css);
@import url(../blocks/intro/intro.css);

@import url(../blocks/intro/__content/intro__content.css);
@import url(../blocks/intro/__caption/intro__caption.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__image/intro__image.css);
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__paragraphs/place__paragraphs.css);
@import url(../blocks/place/__text/place__text.css);
@import url(../blocks/place/__image/place__imsge.css);
@import url(../blocks/people-talk/people-talk.css);
@import url(../blocks/people-talk/__main/people-talk__main.css);
@import url(../blocks/people-talk/__caption/people-talk__caption.css);
@import url(../blocks/people-talk/__title/people-talk__title.css);
@import url(../blocks/people-talk/__columns/people-talk__columns.css);
@import url(../blocks/people-talk/__column/people-talk__column.css);
@import url(../blocks/people-talk/__subtitle/people-talk__subtitle.css);
@import url(../blocks/people-talk/__paragraph/people-talk__paragraph.css);
@import url(../blocks/timetable/timetable.css);
@import url(../blocks/timetable/__form-container/timetable__form-container.css);
@import url(../blocks/timetable/__image/timetable__image.css);
@import url(../blocks/video/video.css);
@import url(../blocks/video/__title/video__title.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);


