.people-talk {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1215px;
  min-height: 412px;
  padding: 0;
  margin: 136px 90px 120px 72px;
}

@media screen and (max-width: 1279px) {
  .people-talk {
    margin-top: 116px;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1023px) {
  .people-talk {
    margin-top: 86px;
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 767px) {
  .people-talk {
    max-width: 260px;
    margin: 45px auto;
  }
}
