.timetable__why {
  position: relative;
  border: none;
  width: 100%;
  min-height: 108px;
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 18px;
  letter-spacing: 3%;
}

.timetable__why::placeholder {
  position: absolute;
  top: 10px;
  left: 15px;
}

@media screen and (max-width: 1023px) {
  .timetable__why{
    min-height: 88px;
    margin-bottom: 10px;
  }

  .timetable__why::placeholder {
    position: absolute;
    top: 0;
    left: 10px;
  }
}
