.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 670px;
  background-color: #FECEA9;
}

@media screen and (max-width: 1279px) {
  .footer {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    min-height: 200px;
  }
}
