.header__title {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
  line-height: 1.3;
}

@media screen and (max-width: 1279px) {
  .header__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 1023px) {
  .header__title {
    font-size: 21px;
  }
}

@media screen and (max-width: 767px) {
  .header__title {
    font-size: 14px;
  }
}

@media screen and (max-width: 424px) {
  .header__title {
    font-size: 9px;
  }
}
